* {
    box-sizing: border-box;
  }
  
  button:hover, a:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  button {
    border: none;
    border-radius: 30px;
    background-color: #0099ff;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  .logo {
    width: 10%;
    height: auto;
    margin-bottom: 10px;
  }